@model IEnumerable<EduConnect.Models.Appointment>
@using EduConnect.Services
@using Microsoft.AspNetCore.Identity
@using System.Web

@inject IAppointmentsManager appointmentManager

@{
    ViewData["Title"] = "Index";
    var aManager = await appointmentManager.GetAppointmentsByCurrentPerformer();
}

<link rel="stylesheet" href="~/css/StudentHome.css" />


<body>

    <section class="profile">
        <div class="naslov">
            <h1><span class="recommended">All of your appointments</span></h1>
        </div>
        <button class="pre-btn"><img src="/img/arrow.png" alt=""></button>
        <button class="nxt-btn"><img src="/img/arrow.png" alt=""></button>

        <div id="profile-container">
            @foreach (var item in aManager)
            {

                <div class="appointment-card">

                    <p>@Html.DisplayNameFor(model => model.Price) :@Html.DisplayFor(modelItem => item.Price)</p>
                    <p> @Html.DisplayNameFor(model => model.Time) :@Html.DisplayFor(modelItem => item.Time)</p>
                    <p>@Html.DisplayNameFor(model => model.Day) :@Html.DisplayFor(modelItem => item.Day)</p>
                    <p>@Html.DisplayFor(modelItem => item.Accepted)</p>
                    <p>@Html.DisplayFor(modelItem => item.Tutor.Id)</p>
                    <p>@Html.DisplayNameFor(model => model.Student) :@Html.DisplayFor(modelItem => item.Student.Id)</p>

                </div>
            }

        </div>
    </section>

    <script src="/js/StudentHome.js"></script>
</body>

