@model IEnumerable<EduConnect.Models.Course>
@using EduConnect.Services
@using Microsoft.AspNetCore.Identity
@using System.Web
@inject ICourseManager courseManager
@{
    ViewData["Title"] = "Index";
    var cManager = await courseManager.GetCoursesByCurrentPerformer();
}

<h1>My Courses</h1>
<link rel="stylesheet" href="~/css/StudentHome.css" />
<body>
    <p>
        <a class="btn btn-primary" asp-action="Create">Add new courses</a>
    </p>


    <button class="pre-btn"><img src="/img/arrow.png" alt=""></button>
    <button class="nxt-btn"><img src="/img/arrow.png" alt=""></button>

    <div id="profile-container">
        @foreach (var item in cManager)
        {

            <div class="appointment-card">

                <p>@Html.DisplayNameFor(model => model.Subject) :@Html.DisplayFor(modelItem => item.Subject)</p>
                <p> @Html.DisplayNameFor(model => model.Level) :@Html.DisplayFor(modelItem => item.Level)</p>
                <p>@Html.DisplayNameFor(model => model.Price) :@Html.DisplayFor(modelItem => item.Price)</p>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>

        }
    </div>
    <script src="/js/StudentHome.js"></script>
</body>

