@model IEnumerable<EduConnect.Models.Reviews>
@using EduConnect.Services
@using Microsoft.AspNetCore.Identity
@using System.Web
@inject IReviewsManager reviewsManager
@{
    ViewData["Title"] = "Index";
    var rManager = await reviewsManager.GetReviewsByCurrentPerformer();
}
<link rel="stylesheet" href="~/css/StudentHome.css" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in rManager)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                    @Html.DisplayFor(modelItem => item.Student.LastName)

                </td>
            </tr>
        }
    </tbody>
</table>
